<footer class="site-footer">
    <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
        <div class="footer-links">
            <a href="mailto:fergus.hamilton@bristol.ac.uk">Contact</a>
            <a href="https://github.com/gushamilton">GitHub</a>
            <a href="https://twitter.com/gushamilton">Twitter</a>
            <a href="https://research-information.bris.ac.uk/en/persons/fergus-hamilton">University Profile</a>
        </div>
    </div>
</footer>